{
  "openapi": "3.1.0",
  "info": {
    "title": "Cosmo Tech Platform API",
    "description": "Cosmo Tech Platform API (5.0.1-SNAPSHOT-897806da)",
    "contact": {
      "name": "Repository",
      "url": "https://github.com/Cosmo-Tech/cosmotech-api",
      "email": "platform@cosmotech.com"
    },
    "license": {
      "name": "MIT License",
      "url": "https://github.com/Cosmo-Tech/cosmotech-api/blob/main/LICENSE"
    },
    "version": "ci"
  },
  "servers": [
    {
      "url": "https://warp.api.cosmotech.com/eng-api-ci/ci",
      "description": "Generated server url"
    }
  ],
  "security": [
    {
      "oAuth2AuthCode": []
    }
  ],
  "tags": [
    {
      "name": "dataset",
      "description": "Dataset Management"
    },
    {
      "name": "meta",
      "description": "Meta Management"
    },
    {
      "name": "organization",
      "description": "Organization Management"
    },
    {
      "name": "run",
      "description": "Run Management"
    },
    {
      "name": "runner",
      "description": "Runner Management"
    },
    {
      "name": "solution",
      "description": "Solution Management"
    },
    {
      "name": "workspace",
      "description": "Workspace Management"
    }
  ],
  "paths": {
    "/about": {
      "get": {
        "tags": ["meta"],
        "summary": "Get various information about the API",
        "operationId": "about",
        "responses": {
          "200": {
            "description": "API information details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AboutInfo"
                },
                "examples": {
                  "ReleaseAboutInfo": {
                    "$ref": "#/components/examples/ReleaseAboutInfo"
                  },
                  "DirtySnapshotAboutInfo": {
                    "$ref": "#/components/examples/DirtySnapshotAboutInfo"
                  }
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/AboutInfo"
                },
                "examples": {
                  "ReleaseAboutInfo": {
                    "$ref": "#/components/examples/ReleaseAboutInfo"
                  },
                  "DirtySnapshotAboutInfo": {
                    "$ref": "#/components/examples/DirtySnapshotAboutInfo"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organizations": {
      "get": {
        "tags": ["organization"],
        "summary": "List all Organizations",
        "operationId": "listOrganizations",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to query (first page is at index 0)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Amount of result by page",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The list of Organizations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Organization"
                  }
                },
                "examples": {
                  "TwoOrganizations": {
                    "$ref": "#/components/examples/TwoOrganizations"
                  }
                }
              },
              "application/yaml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Organization"
                  }
                },
                "examples": {
                  "TwoOrganizations": {
                    "$ref": "#/components/examples/TwoOrganizations"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["organization"],
        "summary": "Create a new organization",
        "operationId": "createOrganization",
        "requestBody": {
          "description": "The Organization to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationCreateRequest"
              },
              "examples": {
                "NewOrganizationIn": {
                  "$ref": "#/components/examples/NewOrganizationIn"
                }
              }
            },
            "application/yaml": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationCreateRequest"
              },
              "examples": {
                "NewOrganizationIn": {
                  "$ref": "#/components/examples/NewOrganizationIn"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The Organization details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                },
                "examples": {
                  "CosmoOrganization": {
                    "$ref": "#/components/examples/CosmoOrganization"
                  }
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                },
                "examples": {
                  "CosmoOrganization": {
                    "$ref": "#/components/examples/CosmoOrganization"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/organizations/permissions": {
      "get": {
        "tags": ["organization"],
        "summary": "Get all permissions per components",
        "operationId": "listPermissions",
        "responses": {
          "200": {
            "description": "The security permission list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ComponentRolePermissions"
                  }
                },
                "examples": {
                  "permissions": {
                    "$ref": "#/components/examples/Permissions"
                  }
                }
              },
              "application/yaml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ComponentRolePermissions"
                  }
                },
                "examples": {
                  "permissions": {
                    "$ref": "#/components/examples/Permissions"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_id}": {
      "get": {
        "tags": ["organization"],
        "summary": "Get the details of an Organization",
        "operationId": "getOrganization",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "The Organization identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^o-\\w{10,20}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Organization details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                },
                "examples": {
                  "CosmoOrganization": {
                    "$ref": "#/components/examples/CosmoOrganization"
                  }
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                },
                "examples": {
                  "CosmoOrganization": {
                    "$ref": "#/components/examples/CosmoOrganization"
                  }
                }
              }
            }
          },
          "404": {
            "description": "The Organization specified is unknown or you don't have access to it"
          }
        }
      },
      "delete": {
        "tags": ["organization"],
        "summary": "Delete an organization",
        "operationId": "deleteOrganization",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "The Organization identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^o-\\w{10,20}"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Request succeeded"
          },
          "404": {
            "description": "The Organization specified is unknown or you don't have access to it"
          }
        }
      },
      "patch": {
        "tags": ["organization"],
        "summary": "Update an Organization",
        "operationId": "updateOrganization",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "The Organization identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^o-\\w{10,20}"
            }
          }
        ],
        "requestBody": {
          "description": "The new Organization details. This endpoint can't be used to update security",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationUpdateRequest"
              },
              "examples": {
                "ChangeOrganizationName": {
                  "$ref": "#/components/examples/ChangeOrganizationName"
                }
              }
            },
            "application/yaml": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationUpdateRequest"
              },
              "examples": {
                "ChangeOrganizationName": {
                  "$ref": "#/components/examples/ChangeOrganizationName"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The organization details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                },
                "examples": {
                  "UpdatedOrganization": {
                    "$ref": "#/components/examples/UpdatedOrganization"
                  }
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                },
                "examples": {
                  "UpdatedOrganization": {
                    "$ref": "#/components/examples/UpdatedOrganization"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "The Organization specified is unknown or you don't have access to it"
          }
        }
      }
    },
    "/organizations/{organization_id}/permissions/{role}": {
      "get": {
        "tags": ["organization"],
        "summary": "Get the Organization permissions by given role",
        "operationId": "getOrganizationPermissions",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "The Organization identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^o-\\w{10,20}"
            }
          },
          {
            "name": "role",
            "in": "path",
            "description": "The Role",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Organization security permission list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "example": {
                  "$ref": "#/components/examples/OrganizationRolePermissions"
                }
              },
              "application/yaml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "example": {
                  "$ref": "#/components/examples/OrganizationRolePermissions"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_id}/security": {
      "get": {
        "tags": ["organization"],
        "summary": "Get the Organization security information",
        "operationId": "getOrganizationSecurity",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "The Organization identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^o-\\w{10,20}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Organization security",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationSecurity"
                },
                "examples": {
                  "OrganizationSecurity": {
                    "$ref": "#/components/examples/OrganizationSecurity"
                  }
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationSecurity"
                },
                "examples": {
                  "OrganizationSecurity": {
                    "$ref": "#/components/examples/OrganizationSecurity"
                  }
                }
              }
            }
          },
          "404": {
            "description": "The Organization specified is unknown or you don't have access to it"
          }
        }
      }
    },
    "/organizations/{organization_id}/security/access": {
      "post": {
        "tags": ["organization"],
        "summary": "Add a control access to the Organization",
        "operationId": "createOrganizationAccessControl",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "The Organization identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^o-\\w{10,20}"
            }
          }
        ],
        "requestBody": {
          "description": "The new Organization security access to add.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationAccessControl"
              },
              "examples": {
                "OrganizationAccess": {
                  "$ref": "#/components/examples/OrganizationAccess"
                }
              }
            },
            "application/yaml": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationAccessControl"
              },
              "examples": {
                "OrganizationAccess": {
                  "$ref": "#/components/examples/OrganizationAccess"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The Organization access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationAccessControl"
                },
                "examples": {
                  "OrganizationAccessControl": {
                    "$ref": "#/components/examples/OrganizationAccessControl"
                  }
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationAccessControl"
                },
                "examples": {
                  "OrganizationAccessControl": {
                    "$ref": "#/components/examples/OrganizationAccessControl"
                  }
                }
              }
            }
          },
          "404": {
            "description": "The Organization specified is unknown or you don't have access to it"
          }
        }
      }
    },
    "/organizations/{organization_id}/security/access/{identity_id}": {
      "get": {
        "tags": ["organization"],
        "summary": "Get a control access for the Organization",
        "operationId": "getOrganizationAccessControl",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "The Organization identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^o-\\w{10,20}"
            }
          },
          {
            "name": "identity_id",
            "in": "path",
            "description": "The User identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Organization access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationAccessControl"
                },
                "examples": {
                  "OrganizationAccessControl": {
                    "$ref": "#/components/examples/OrganizationAccessControl"
                  }
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationAccessControl"
                },
                "examples": {
                  "OrganizationAccessControl": {
                    "$ref": "#/components/examples/OrganizationAccessControl"
                  }
                }
              }
            }
          },
          "404": {
            "description": "The Organization or user specified is unknown or you don't have access to it"
          }
        }
      },
      "delete": {
        "tags": ["organization"],
        "summary": "Remove the specified access from the given Organization",
        "operationId": "deleteOrganizationAccessControl",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "The Organization identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^o-\\w{10,20}"
            }
          },
          {
            "name": "identity_id",
            "in": "path",
            "description": "The User identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Request succeeded"
          },
          "404": {
            "description": "The Organization or the user specified is unknown or you don't have access to them"
          }
        }
      },
      "patch": {
        "tags": ["organization"],
        "summary": "Update the specified access to User for an Organization",
        "operationId": "updateOrganizationAccessControl",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "The Organization identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^o-\\w{10,20}"
            }
          },
          {
            "name": "identity_id",
            "in": "path",
            "description": "The User identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The new Organization Access Control",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationRole"
              },
              "examples": {
                "UpdateRole": {
                  "$ref": "#/components/examples/UpdateRole"
                }
              }
            },
            "application/yaml": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationRole"
              },
              "examples": {
                "UpdateRole": {
                  "$ref": "#/components/examples/UpdateRole"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The Organization access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationAccessControl"
                },
                "examples": {
                  "UpdatedAccessControl": {
                    "$ref": "#/components/examples/UpdatedAccessControl"
                  }
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationAccessControl"
                },
                "examples": {
                  "UpdatedAccessControl": {
                    "$ref": "#/components/examples/UpdatedAccessControl"
                  }
                }
              }
            }
          },
          "404": {
            "description": "The Organization specified is unknown or you don't have access to it"
          }
        }
      }
    },
    "/organizations/{organization_id}/security/default": {
      "patch": {
        "tags": ["organization"],
        "summary": "Update the Organization default security",
        "operationId": "updateOrganizationDefaultSecurity",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "The Organization identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^o-\\w{10,20}"
            }
          }
        ],
        "requestBody": {
          "description": "This change the organization default security. The default security is the role assigned to any person not on the Access Control List. If the default security is None, then nobody outside of the ACL can access the organization.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationRole"
              },
              "examples": {
                "DefaultRole": {
                  "$ref": "#/components/examples/DefaultRole"
                }
              }
            },
            "application/yaml": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationRole"
              },
              "examples": {
                "DefaultRole": {
                  "$ref": "#/components/examples/DefaultRole"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The Organization default visibility",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationSecurity"
                },
                "examples": {
                  "UpdatedSecurity": {
                    "$ref": "#/components/examples/UpdatedSecurity"
                  }
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationSecurity"
                },
                "examples": {
                  "UpdatedSecurity": {
                    "$ref": "#/components/examples/UpdatedSecurity"
                  }
                }
              }
            }
          },
          "404": {
            "description": "The Organization specified is unknown or you don't have access to it"
          }
        }
      }
    },
    "/organizations/{organization_id}/security/users": {
      "get": {
        "tags": ["organization"],
        "summary": "Get the Organization security users list",
        "operationId": "listOrganizationSecurityUsers",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "The Organization identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^o-\\w{10,20}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Organization security users list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "example": ["alice@cosmotech.com", "bob@cosmotech.com"],
                  "items": {
                    "type": "string"
                  }
                }
              },
              "application/yaml": {
                "schema": {
                  "type": "array",
                  "example": ["alice@cosmotech.com", "bob@cosmotech.com"],
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "404": {
            "description": "The Organization specified is unknown or you don't have access to it"
          }
        }
      }
    },
    "/organizations/{organization_id}/solutions": {
      "get": {
        "tags": ["solution"],
        "summary": "List all Solutions",
        "operationId": "listSolutions",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "the Organization identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^o-\\w{10,20}"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to query (first page is at index 0)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Amount of result by page",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of solutions successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Solution"
                  }
                },
                "examples": {
                  "SolutionList": {
                    "$ref": "#/components/examples/SolutionList"
                  }
                }
              },
              "application/yaml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Solution"
                  }
                },
                "examples": {
                  "SolutionList": {
                    "$ref": "#/components/examples/SolutionList"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["solution"],
        "summary": "Create a new solution",
        "operationId": "createSolution",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "the Organization identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^o-\\w{10,20}"
            }
          }
        ],
        "requestBody": {
          "description": "The Solution to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SolutionCreateRequest"
              },
              "examples": {
                "BreweryCreate": {
                  "$ref": "#/components/examples/BreweryCreate"
                }
              }
            },
            "application/yaml": {
              "schema": {
                "$ref": "#/components/schemas/SolutionCreateRequest"
              },
              "examples": {
                "BreweryCreate": {
                  "$ref": "#/components/examples/BreweryCreate"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Solution successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Solution"
                },
                "examples": {
                  "Brewery": {
                    "$ref": "#/components/examples/Brewery"
                  }
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/Solution"
                },
                "examples": {
                  "Brewery": {
                    "$ref": "#/components/examples/Brewery"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/organizations/{organization_id}/solutions/{solution_id}": {
      "get": {
        "tags": ["solution"],
        "summary": "Get the details of a solution",
        "operationId": "getSolution",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "the Organization identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^o-\\w{10,20}"
            }
          },
          {
            "name": "solution_id",
            "in": "path",
            "description": "the Solution identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^sol-\\w{10,20}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Solution details successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Solution"
                },
                "examples": {
                  "Brewery": {
                    "$ref": "#/components/examples/Brewery"
                  }
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/Solution"
                },
                "examples": {
                  "Brewery": {
                    "$ref": "#/components/examples/Brewery"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Solution not found or insufficient access rights"
          }
        }
      },
      "delete": {
        "tags": ["solution"],
        "summary": "Delete a solution",
        "operationId": "deleteSolution",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "the Organization identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^o-\\w{10,20}"
            }
          },
          {
            "name": "solution_id",
            "in": "path",
            "description": "the Solution identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^sol-\\w{10,20}"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Solution successfully deleted"
          },
          "404": {
            "description": "Solution not found or insufficient access rights"
          }
        }
      },
      "patch": {
        "tags": ["solution"],
        "summary": "Update a solution",
        "operationId": "updateSolution",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "the Organization identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^o-\\w{10,20}"
            }
          },
          {
            "name": "solution_id",
            "in": "path",
            "description": "the Solution identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^sol-\\w{10,20}"
            }
          }
        ],
        "requestBody": {
          "description": "The new Solution details. This endpoint can't be used to update security",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SolutionUpdateRequest"
              },
              "examples": {
                "BreweryUpdate": {
                  "$ref": "#/components/examples/BreweryUpdate"
                }
              }
            },
            "application/yaml": {
              "schema": {
                "$ref": "#/components/schemas/SolutionUpdateRequest"
              },
              "examples": {
                "BreweryUpdate": {
                  "$ref": "#/components/examples/BreweryUpdate"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Solution successfully updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Solution"
                },
                "examples": {
                  "BreweryUpdated": {
                    "$ref": "#/components/examples/BreweryUpdated"
                  }
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/Solution"
                },
                "examples": {
                  "BreweryUpdated": {
                    "$ref": "#/components/examples/BreweryUpdated"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid update parameters"
          },
          "404": {
            "description": "Solution not found or insufficient access rights"
          }
        }
      }
    },
    "/organizations/{organization_id}/solutions/{solution_id}/parameterGroups": {
      "get": {
        "tags": ["solution"],
        "summary": "List all solution parameter groups",
        "operationId": "listSolutionParameterGroups",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "the Organization identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^o-\\w{10,20}"
            }
          },
          {
            "name": "solution_id",
            "in": "path",
            "description": "the Solution identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^sol-\\w{10,20}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Parameter groups successfully listed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RunTemplateParameterGroup"
                  }
                },
                "examples": {
                  "ParameterGroupList": {
                    "$ref": "#/components/examples/ParameterGroupList"
                  }
                }
              },
              "application/yaml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RunTemplateParameterGroup"
                  }
                },
                "examples": {
                  "ParameterGroupList": {
                    "$ref": "#/components/examples/ParameterGroupList"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Solution not found or insufficient access rights"
          }
        }
      },
      "post": {
        "tags": ["solution"],
        "summary": "Create a solution parameter group",
        "operationId": "createSolutionParameterGroup",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "the Organization identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^o-\\w{10,20}"
            }
          },
          {
            "name": "solution_id",
            "in": "path",
            "description": "the Solution identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^sol-\\w{10,20}"
            }
          }
        ],
        "requestBody": {
          "description": "Parameter group to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunTemplateParameterGroupCreateRequest"
              },
              "examples": {
                "ParameterGroupCreate": {
                  "$ref": "#/components/examples/ParameterGroupCreate"
                }
              }
            },
            "application/yaml": {
              "schema": {
                "$ref": "#/components/schemas/RunTemplateParameterGroupCreateRequest"
              },
              "examples": {
                "ParameterGroupCreate": {
                  "$ref": "#/components/examples/ParameterGroupCreate"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Parameter group successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunTemplateParameterGroup"
                },
                "examples": {
                  "ParameterGroupCreate": {
                    "$ref": "#/components/examples/ParameterGroupCreate"
                  }
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/RunTemplateParameterGroup"
                },
                "examples": {
                  "ParameterGroupCreate": {
                    "$ref": "#/components/examples/ParameterGroupCreate"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid parameter group"
          },
          "404": {
            "description": "Solution not found or insufficient access rights"
          }
        }
      }
    },
    "/organizations/{organization_id}/solutions/{solution_id}/parameterGroups/{parameter_group_id}": {
      "get": {
        "tags": ["solution"],
        "summary": "Get details of a solution parameter group",
        "operationId": "getSolutionParameterGroup",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "the Organization identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^o-\\w{10,20}"
            }
          },
          {
            "name": "solution_id",
            "in": "path",
            "description": "the Solution identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^sol-\\w{10,20}"
            }
          },
          {
            "name": "parameter_group_id",
            "in": "path",
            "description": "The parameter group identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "x-size-message": "cannot be empty"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Parameter groups successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunTemplateParameterGroup"
                },
                "examples": {
                  "ParameterGroupCreate": {
                    "$ref": "#/components/examples/ParameterGroupCreate"
                  }
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/RunTemplateParameterGroup"
                },
                "examples": {
                  "ParameterGroupCreate": {
                    "$ref": "#/components/examples/ParameterGroupCreate"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Solution or parameter group not found or insufficient access rights"
          }
        }
      },
      "delete": {
        "tags": ["solution"],
        "summary": "Delete a parameter group from the solution",
        "operationId": "deleteSolutionParameterGroup",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "the Organization identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^o-\\w{10,20}"
            }
          },
          {
            "name": "solution_id",
            "in": "path",
            "description": "the Solution identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^sol-\\w{10,20}"
            }
          },
          {
            "name": "parameter_group_id",
            "in": "path",
            "description": "The parameter group identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "x-size-message": "cannot be empty"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Parameter group successfully deleted"
          },
          "404": {
            "description": "Solution or parameter group not found or insufficient access rights"
          }
        }
      },
      "patch": {
        "tags": ["solution"],
        "summary": "Update a solution parameter group",
        "operationId": "updateSolutionParameterGroup",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "the Organization identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^o-\\w{10,20}"
            }
          },
          {
            "name": "solution_id",
            "in": "path",
            "description": "the Solution identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^sol-\\w{10,20}"
            }
          },
          {
            "name": "parameter_group_id",
            "in": "path",
            "description": "The parameter group identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "x-size-message": "cannot be empty"
            }
          }
        ],
        "requestBody": {
          "description": "Parameter groups to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunTemplateParameterGroupUpdateRequest"
              },
              "examples": {
                "ParameterGroupUpdate": {
                  "$ref": "#/components/examples/ParameterGroupUpdate"
                }
              }
            },
            "application/yaml": {
              "schema": {
                "$ref": "#/components/schemas/RunTemplateParameterGroupUpdateRequest"
              },
              "examples": {
                "ParameterGroupUpdate": {
                  "$ref": "#/components/examples/ParameterGroupUpdate"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Parameter groups successfully updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunTemplateParameterGroup"
                },
                "examples": {
                  "ParameterGroupCreate": {
                    "$ref": "#/components/examples/ParameterGroupCreate"
                  }
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/RunTemplateParameterGroup"
                },
                "examples": {
                  "ParameterGroupCreate": {
                    "$ref": "#/components/examples/ParameterGroupCreate"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid parameter group"
          },
          "404": {
            "description": "Solution or parameter group not found or insufficient access rights"
          }
        }
      }
    },
    "/organizations/{organization_id}/solutions/{solution_id}/parameters": {
      "get": {
        "tags": ["solution"],
        "summary": "List all solution parameters",
        "operationId": "listSolutionParameters",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "the Organization identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^o-\\w{10,20}"
            }
          },
          {
            "name": "solution_id",
            "in": "path",
            "description": "the Solution identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^sol-\\w{10,20}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Parameters successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RunTemplateParameter"
                  }
                },
                "examples": {
                  "ParameterList": {
                    "$ref": "#/components/examples/ParameterList"
                  }
                }
              },
              "application/yaml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RunTemplateParameter"
                  }
                },
                "examples": {
                  "ParameterList": {
                    "$ref": "#/components/examples/ParameterList"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Solution not found or insufficient access rights"
          }
        }
      },
      "post": {
        "tags": ["solution"],
        "summary": "Create solution parameter for a solution",
        "operationId": "createSolutionParameter",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "the Organization identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^o-\\w{10,20}"
            }
          },
          {
            "name": "solution_id",
            "in": "path",
            "description": "the Solution identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^sol-\\w{10,20}"
            }
          }
        ],
        "requestBody": {
          "description": "Parameter to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunTemplateParameterCreateRequest"
              },
              "examples": {
                "ParameterCreate": {
                  "$ref": "#/components/examples/ParameterCreate"
                }
              }
            },
            "application/yaml": {
              "schema": {
                "$ref": "#/components/schemas/RunTemplateParameterCreateRequest"
              },
              "examples": {
                "ParameterCreate": {
                  "$ref": "#/components/examples/ParameterCreate"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Parameters successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunTemplateParameter"
                },
                "examples": {
                  "ParameterCreate": {
                    "$ref": "#/components/examples/ParameterCreate"
                  }
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/RunTemplateParameter"
                },
                "examples": {
                  "ParameterCreate": {
                    "$ref": "#/components/examples/ParameterCreate"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Solution not found or insufficient access rights"
          }
        }
      }
    },
    "/organizations/{organization_id}/solutions/{solution_id}/parameters/{parameter_id}": {
      "get": {
        "tags": ["solution"],
        "summary": "Get the details of a solution parameter",
        "operationId": "getSolutionParameter",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "the Organization identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^o-\\w{10,20}"
            }
          },
          {
            "name": "solution_id",
            "in": "path",
            "description": "the Solution identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^sol-\\w{10,20}"
            }
          },
          {
            "name": "parameter_id",
            "in": "path",
            "description": "The solution parameter identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Parameters successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunTemplateParameter"
                },
                "examples": {
                  "ParameterCreate": {
                    "$ref": "#/components/examples/ParameterCreate"
                  }
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/RunTemplateParameter"
                },
                "examples": {
                  "ParameterCreate": {
                    "$ref": "#/components/examples/ParameterCreate"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Solution or parameter not found or insufficient access rights"
          }
        }
      },
      "delete": {
        "tags": ["solution"],
        "summary": "Delete specific parameter from the solution",
        "operationId": "deleteSolutionParameter",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "the Organization identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^o-\\w{10,20}"
            }
          },
          {
            "name": "solution_id",
            "in": "path",
            "description": "the Solution identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^sol-\\w{10,20}"
            }
          },
          {
            "name": "parameter_id",
            "in": "path",
            "description": "The solution parameter identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Parameter successfully deleted"
          },
          "404": {
            "description": "Solution or parameter not found or insufficient access rights"
          }
        }
      },
      "patch": {
        "tags": ["solution"],
        "summary": "Update solution parameter",
        "operationId": "updateSolutionParameter",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "the Organization identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^o-\\w{10,20}"
            }
          },
          {
            "name": "solution_id",
            "in": "path",
            "description": "the Solution identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^sol-\\w{10,20}"
            }
          },
          {
            "name": "parameter_id",
            "in": "path",
            "description": "The solution parameter identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Parameter to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunTemplateParameterUpdateRequest"
              },
              "examples": {
                "ParameterUpdate": {
                  "$ref": "#/components/examples/ParameterUpdate"
                }
              }
            },
            "application/yaml": {
              "schema": {
                "$ref": "#/components/schemas/RunTemplateParameterUpdateRequest"
              },
              "examples": {
                "ParameterUpdate": {
                  "$ref": "#/components/examples/ParameterUpdate"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Parameters successfully updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunTemplateParameter"
                },
                "examples": {
                  "ParameterCreate": {
                    "$ref": "#/components/examples/ParameterCreate"
                  }
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/RunTemplateParameter"
                },
                "examples": {
                  "ParameterCreate": {
                    "$ref": "#/components/examples/ParameterCreate"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Solution or parameter not found or insufficient access rights"
          }
        }
      }
    },
    "/organizations/{organization_id}/solutions/{solution_id}/runTemplates": {
      "get": {
        "tags": ["solution"],
        "summary": "List all solution run templates",
        "operationId": "listRunTemplates",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "the Organization identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^o-\\w{10,20}"
            }
          },
          {
            "name": "solution_id",
            "in": "path",
            "description": "the Solution identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^sol-\\w{10,20}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Run templates successfully listed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RunTemplate"
                  }
                },
                "examples": {
                  "RunTemplateList": {
                    "$ref": "#/components/examples/RunTemplateList"
                  }
                }
              },
              "application/yaml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RunTemplate"
                  }
                },
                "examples": {
                  "RunTemplateList": {
                    "$ref": "#/components/examples/RunTemplateList"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Solution not found or insufficient access rights"
          }
        }
      },
      "post": {
        "tags": ["solution"],
        "summary": "Create a solution run template",
        "operationId": "createSolutionRunTemplate",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "the Organization identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^o-\\w{10,20}"
            }
          },
          {
            "name": "solution_id",
            "in": "path",
            "description": "the Solution identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^sol-\\w{10,20}"
            }
          }
        ],
        "requestBody": {
          "description": "Run template to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunTemplateCreateRequest"
              },
              "examples": {
                "RunTemplateCreate": {
                  "$ref": "#/components/examples/RunTemplateCreate"
                }
              }
            },
            "application/yaml": {
              "schema": {
                "$ref": "#/components/schemas/RunTemplateCreateRequest"
              },
              "examples": {
                "RunTemplateCreate": {
                  "$ref": "#/components/examples/RunTemplateCreate"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Run template successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunTemplate"
                },
                "examples": {
                  "RunTemplate": {
                    "$ref": "#/components/examples/RunTemplate"
                  }
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/RunTemplate"
                },
                "examples": {
                  "RunTemplate": {
                    "$ref": "#/components/examples/RunTemplate"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid run template"
          },
          "404": {
            "description": "Solution not found or insufficient access rights"
          }
        }
      }
    },
    "/organizations/{organization_id}/solutions/{solution_id}/runTemplates/{run_template_id}": {
      "get": {
        "tags": ["solution"],
        "summary": "Retrieve a solution run templates",
        "operationId": "getRunTemplate",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "the Organization identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^o-\\w{10,20}"
            }
          },
          {
            "name": "solution_id",
            "in": "path",
            "description": "the Solution identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^sol-\\w{10,20}"
            }
          },
          {
            "name": "run_template_id",
            "in": "path",
            "description": "The Run Template identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Run template successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunTemplate"
                },
                "examples": {
                  "RunTemplate": {
                    "$ref": "#/components/examples/RunTemplate"
                  }
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/RunTemplate"
                },
                "examples": {
                  "RunTemplate": {
                    "$ref": "#/components/examples/RunTemplate"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Solution not found or insufficient access rights"
          }
        }
      },
      "delete": {
        "tags": ["solution"],
        "summary": "Delete a specific run template",
        "operationId": "deleteSolutionRunTemplate",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "the Organization identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^o-\\w{10,20}"
            }
          },
          {
            "name": "solution_id",
            "in": "path",
            "description": "the Solution identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^sol-\\w{10,20}"
            }
          },
          {
            "name": "run_template_id",
            "in": "path",
            "description": "The Run Template identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Run template successfully deleted"
          },
          "404": {
            "description": "Solution or run template not found or insufficient access rights"
          }
        }
      },
      "patch": {
        "tags": ["solution"],
        "summary": "Update a specific run template",
        "operationId": "updateSolutionRunTemplate",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "the Organization identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^o-\\w{10,20}"
            }
          },
          {
            "name": "solution_id",
            "in": "path",
            "description": "the Solution identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^sol-\\w{10,20}"
            }
          },
          {
            "name": "run_template_id",
            "in": "path",
            "description": "The Run Template identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Run template updates",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunTemplateUpdateRequest"
              },
              "examples": {
                "RunTemplateUpdate": {
                  "$ref": "#/components/examples/RunTemplateUpdate"
                }
              }
            },
            "application/yaml": {
              "schema": {
                "$ref": "#/components/schemas/RunTemplateUpdateRequest"
              },
              "examples": {
                "RunTemplateUpdate": {
                  "$ref": "#/components/examples/RunTemplateUpdate"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Run template successfully updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunTemplate"
                },
                "examples": {
                  "RunTemplate": {
                    "$ref": "#/components/examples/RunTemplate"
                  }
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/RunTemplate"
                },
                "examples": {
                  "RunTemplate": {
                    "$ref": "#/components/examples/RunTemplate"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid run template updates"
          },
          "404": {
            "description": "Solution or run template not found or insufficient access rights"
          }
        }
      }
    },
    "/organizations/{organization_id}/solutions/{solution_id}/security": {
      "get": {
        "tags": ["solution"],
        "summary": "Get solution security information",
        "operationId": "getSolutionSecurity",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "the Organization identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^o-\\w{10,20}"
            }
          },
          {
            "name": "solution_id",
            "in": "path",
            "description": "the Solution identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^sol-\\w{10,20}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Solution security information successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SolutionSecurity"
                },
                "examples": {
                  "SolutionSecurity": {
                    "$ref": "#/components/examples/SolutionSecurity"
                  }
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/SolutionSecurity"
                },
                "examples": {
                  "SolutionSecurity": {
                    "$ref": "#/components/examples/SolutionSecurity"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Solution not found or insufficient access rights"
          }
        }
      }
    },
    "/organizations/{organization_id}/solutions/{solution_id}/security/access": {
      "post": {
        "tags": ["solution"],
        "summary": "Create solution access control",
        "operationId": "createSolutionAccessControl",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "the Organization identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^o-\\w{10,20}"
            }
          },
          {
            "name": "solution_id",
            "in": "path",
            "description": "the Solution identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^sol-\\w{10,20}"
            }
          }
        ],
        "requestBody": {
          "description": "Access control to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SolutionAccessControl"
              },
              "examples": {
                "SolutionAccess": {
                  "$ref": "#/components/examples/BrewerySolutionAccessControl"
                }
              }
            },
            "application/yaml": {
              "schema": {
                "$ref": "#/components/schemas/SolutionAccessControl"
              },
              "examples": {
                "SolutionAccess": {
                  "$ref": "#/components/examples/BrewerySolutionAccessControl"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Solution access control successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SolutionAccessControl"
                },
                "examples": {
                  "SolutionAccessControl": {
                    "$ref": "#/components/examples/BrewerySolutionAccessControl"
                  }
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/SolutionAccessControl"
                },
                "examples": {
                  "SolutionAccessControl": {
                    "$ref": "#/components/examples/BrewerySolutionAccessControl"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Solution not found or insufficient access rights"
          }
        }
      }
    },
    "/organizations/{organization_id}/solutions/{solution_id}/security/access/{identity_id}": {
      "get": {
        "tags": ["solution"],
        "summary": "Get solution access control",
        "operationId": "getSolutionAccessControl",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "the Organization identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^o-\\w{10,20}"
            }
          },
          {
            "name": "solution_id",
            "in": "path",
            "description": "the Solution identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^sol-\\w{10,20}"
            }
          },
          {
            "name": "identity_id",
            "in": "path",
            "description": "The User identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Solution access control successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SolutionAccessControl"
                },
                "examples": {
                  "SolutionAccessControl": {
                    "$ref": "#/components/examples/BrewerySolutionAccessControl"
                  }
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/SolutionAccessControl"
                },
                "examples": {
                  "SolutionAccessControl": {
                    "$ref": "#/components/examples/BrewerySolutionAccessControl"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Solution or user not found or insufficient access rights"
          }
        }
      },
      "delete": {
        "tags": ["solution"],
        "summary": "Delete solution access control",
        "operationId": "deleteSolutionAccessControl",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "the Organization identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^o-\\w{10,20}"
            }
          },
          {
            "name": "solution_id",
            "in": "path",
            "description": "the Solution identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^sol-\\w{10,20}"
            }
          },
          {
            "name": "identity_id",
            "in": "path",
            "description": "The User identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Solution access control successfully deleted"
          },
          "404": {
            "description": "Solution or user not found or insufficient access rights"
          }
        }
      },
      "patch": {
        "tags": ["solution"],
        "summary": "Update solution access control",
        "operationId": "updateSolutionAccessControl",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "the Organization identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^o-\\w{10,20}"
            }
          },
          {
            "name": "solution_id",
            "in": "path",
            "description": "the Solution identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^sol-\\w{10,20}"
            }
          },
          {
            "name": "identity_id",
            "in": "path",
            "description": "The User identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Access control updates",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SolutionRole"
              },
              "examples": {
                "BrewerySolutionRole": {
                  "$ref": "#/components/examples/BrewerySolutionRole"
                }
              }
            },
            "application/yaml": {
              "schema": {
                "$ref": "#/components/schemas/SolutionRole"
              },
              "examples": {
                "BrewerySolutionRole": {
                  "$ref": "#/components/examples/BrewerySolutionRole"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Solution access control successfully updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SolutionAccessControl"
                },
                "examples": {
                  "SolutionAccessControl": {
                    "$ref": "#/components/examples/BrewerySolutionAccessControl"
                  }
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/SolutionAccessControl"
                },
                "examples": {
                  "SolutionAccessControl": {
                    "$ref": "#/components/examples/BrewerySolutionAccessControl"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Solution not found or insufficient access rights"
          }
        }
      }
    },
    "/organizations/{organization_id}/solutions/{solution_id}/security/default": {
      "patch": {
        "tags": ["solution"],
        "summary": "Update solution default security",
        "operationId": "updateSolutionDefaultSecurity",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "the Organization identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^o-\\w{10,20}"
            }
          },
          {
            "name": "solution_id",
            "in": "path",
            "description": "the Solution identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^sol-\\w{10,20}"
            }
          }
        ],
        "requestBody": {
          "description": "This changes the solution default security. The default security is the role assigned to any person not on the Access Control List. If the default security is None, then nobody outside of the ACL can access the solution.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SolutionRole"
              },
              "examples": {
                "BrewerySolutionRole": {
                  "$ref": "#/components/examples/BrewerySolutionRole"
                }
              }
            },
            "application/yaml": {
              "schema": {
                "$ref": "#/components/schemas/SolutionRole"
              },
              "examples": {
                "BrewerySolutionRole": {
                  "$ref": "#/components/examples/BrewerySolutionRole"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Solution default security successfully updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SolutionSecurity"
                },
                "examples": {
                  "SolutionSecurity": {
                    "$ref": "#/components/examples/SolutionSecurity"
                  }
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/SolutionSecurity"
                },
                "examples": {
                  "SolutionSecurity": {
                    "$ref": "#/components/examples/SolutionSecurity"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Solution not found or insufficient access rights"
          }
        }
      }
    },
    "/organizations/{organization_id}/solutions/{solution_id}/security/users": {
      "get": {
        "tags": ["solution"],
        "summary": "List solution security users",
        "operationId": "listSolutionSecurityUsers",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "the Organization identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^o-\\w{10,20}"
            }
          },
          {
            "name": "solution_id",
            "in": "path",
            "description": "the Solution identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^sol-\\w{10,20}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Solution security users list successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "example": ["alice@mycompany.com", "bob@mycompany.com"],
                  "items": {
                    "type": "string"
                  }
                }
              },
              "application/yaml": {
                "schema": {
                  "type": "array",
                  "example": ["alice@mycompany.com", "bob@mycompany.com"],
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Solution not found or insufficient access rights"
          }
        }
      }
    },
    "/organizations/{organization_id}/workspaces": {
      "get": {
        "tags": ["workspace"],
        "summary": "List all Workspaces",
        "operationId": "listWorkspaces",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "The Organization identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^o-\\w{10,20}"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to query (first page is at index 0)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Amount of result by page",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The workspace details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Workspace"
                  }
                },
                "examples": {
                  "WorkspaceList": {
                    "$ref": "#/components/examples/WorkspaceList"
                  }
                }
              },
              "application/yaml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Workspace"
                  }
                },
                "examples": {
                  "WorkspaceList": {
                    "$ref": "#/components/examples/WorkspaceList"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["workspace"],
        "summary": "Create a new workspace",
        "operationId": "createWorkspace",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "The Organization identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^o-\\w{10,20}"
            }
          }
        ],
        "requestBody": {
          "description": "The Workspace to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkspaceCreateRequest"
              },
              "examples": {
                "BreweryWorkspaceCreate": {
                  "$ref": "#/components/examples/BreweryWorkspaceCreate"
                }
              }
            },
            "application/yaml": {
              "schema": {
                "$ref": "#/components/schemas/WorkspaceCreateRequest"
              },
              "examples": {
                "BreweryWorkspaceCreate": {
                  "$ref": "#/components/examples/BreweryWorkspaceCreate"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The workspace details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workspace"
                },
                "examples": {
                  "BreweryWorkspace": {
                    "$ref": "#/components/examples/BreweryWorkspace"
                  }
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/Workspace"
                },
                "examples": {
                  "BreweryWorkspace": {
                    "$ref": "#/components/examples/BreweryWorkspace"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/organizations/{organization_id}/workspaces/{workspace_id}": {
      "get": {
        "tags": ["workspace"],
        "summary": "Get the details of a workspace",
        "operationId": "getWorkspace",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "The Organization identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^o-\\w{10,20}"
            }
          },
          {
            "name": "workspace_id",
            "in": "path",
            "description": "The Workspace identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^w-\\w{10,20}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Workspace details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workspace"
                },
                "examples": {
                  "BreweryWorkspace": {
                    "$ref": "#/components/examples/BreweryWorkspace"
                  }
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/Workspace"
                },
                "examples": {
                  "BreweryWorkspace": {
                    "$ref": "#/components/examples/BreweryWorkspace"
                  }
                }
              }
            }
          },
          "404": {
            "description": "The Workspace specified is unknown or you don't have access to it"
          }
        }
      },
      "delete": {
        "tags": ["workspace"],
        "summary": "Delete a workspace",
        "operationId": "deleteWorkspace",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "The Organization identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^o-\\w{10,20}"
            }
          },
          {
            "name": "workspace_id",
            "in": "path",
            "description": "The Workspace identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^w-\\w{10,20}"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The workspace details"
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "The Workspace specified is unknown or you don't have access to it"
          }
        }
      },
      "patch": {
        "tags": ["workspace"],
        "summary": "Update a workspace",
        "operationId": "updateWorkspace",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "The Organization identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^o-\\w{10,20}"
            }
          },
          {
            "name": "workspace_id",
            "in": "path",
            "description": "The Workspace identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "pattern": "^w-\\w{10,20}"
            }
          }
        ],
        "requestBody": {
          "description": "The new Workspace details. This endpoint can't be used to update security",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkspaceUpdateRequest"
              },
              "examples": {
                "BreweryWorkspaceUpdate": {
                  "$ref": "#/components/examples/BreweryWorkspaceUpdate"
                }
              }
            },
            "application/yaml": {
              "schema": {
                "$ref": "#/components/schemas/WorkspaceUpdateRequest"
              },
              "examples": {
                "BreweryWorkspaceUpdate": {
                  "$ref": "#/components/examples/BreweryWorkspaceUpdate"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The workspace details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workspace"
                },
                "examples": {
                  "BreweryWorkspaceUpdated": {
                    "$ref": "#/components/examples/BreweryWorkspaceUpdated"
                  }
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/Workspace"
                },
                "examples": {
                  "BreweryWorkspaceUpdated": {
                    "$ref": "#/components/examples/BreweryWorkspaceUpdated"
                  }
                }
[...]
