{
  "openapi" : "3.0.3",
  "info" : {
    "title" : "Cosmo Tech Platform API",
    "description" : "Cosmo Tech Platform API",
    "contact" : {
      "name" : "Repository",
      "url" : "https://github.com/Cosmo-Tech/cosmotech-api",
      "email" : "platform@cosmotech.com"
    },
    "license" : {
      "name" : "MIT License",
      "url" : "https://github.com/Cosmo-Tech/cosmotech-api/blob/main/LICENSE"
    },
    "version" : "v3"
  },
  "servers" : [ {
    "url" : "https://warp.api.cosmotech.com/eng-adx-qa/v3",
    "description" : "Generated server url"
  } ],
  "security" : [ {
    "oAuth2AuthCode" : [ ]
  }, {
    "oAuth2AuthCode" : [ "platform.runner.read", "platform.runner.write" ]
  } ],
  "tags" : [ {
    "name" : "connector",
    "description" : "Connector Management"
  }, {
    "name" : "dataset",
    "description" : "Dataset Management"
  }, {
    "name" : "organization",
    "description" : "Organization Management"
  }, {
    "name" : "run",
    "description" : "Run Management"
  }, {
    "name" : "runner",
    "description" : "Runner Management"
  }, {
    "name" : "scenario",
    "description" : "Scenario Management"
  }, {
    "name" : "scenariorun",
    "description" : "ScenarioRun Management"
  }, {
    "name" : "solution",
    "description" : "Solution Management"
  }, {
    "name" : "twingraph",
    "description" : "Twin Graph Management | This service is deprecated, use Dataset Service instead"
  }, {
    "name" : "workspace",
    "description" : "Workspace Management"
  } ],
  "paths" : {
    "/connectors" : {
      "get" : {
        "tags" : [ "connector" ],
        "summary" : "List all Connectors",
        "operationId" : "findAllConnectors",
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "page number to query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "size",
          "in" : "query",
          "description" : "amount of result by page",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "the list of Connectors",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Connector"
                  }
                },
                "examples" : {
                  "OneConnector" : {
                    "$ref" : "#/components/examples/OneConnector"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "connector" ],
        "summary" : "Register a new connector",
        "operationId" : "registerConnector",
        "requestBody" : {
          "description" : "the Connector to register",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Connector"
              },
              "examples" : {
                "ADTConnector" : {
                  "$ref" : "#/components/examples/ADTConnector"
                }
              }
            },
            "application/yaml" : {
              "schema" : {
                "type" : "string",
                "format" : "binary"
              },
              "examples" : {
                "ADTConnector" : {
                  "$ref" : "#/components/examples/ADTConnector"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "the connector details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Connector"
                },
                "examples" : {
                  "ADTConnector" : {
                    "$ref" : "#/components/examples/ADTConnector"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request"
          }
        }
      }
    },
    "/connectors/name/{connector_name}" : {
      "get" : {
        "tags" : [ "connector" ],
        "summary" : "Get the details of a connector",
        "operationId" : "findConnectorByName",
        "parameters" : [ {
          "name" : "connector_name",
          "in" : "path",
          "description" : "the Connector name",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "the Connector details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Connector"
                },
                "examples" : {
                  "ADTConnector" : {
                    "$ref" : "#/components/examples/ADTConnector"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/connectors/{connector_id}" : {
      "get" : {
        "tags" : [ "connector" ],
        "summary" : "Get the details of a connector",
        "operationId" : "findConnectorById",
        "parameters" : [ {
          "name" : "connector_id",
          "in" : "path",
          "description" : "the Connector identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "the Connector details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Connector"
                },
                "examples" : {
                  "ADTConnector" : {
                    "$ref" : "#/components/examples/ADTConnector"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "the Connector specified is unknown or you don't have access to it"
          }
        }
      },
      "delete" : {
        "tags" : [ "connector" ],
        "summary" : "Unregister a connector",
        "operationId" : "unregisterConnector",
        "parameters" : [ {
          "name" : "connector_id",
          "in" : "path",
          "description" : "the Connector identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Request successful"
          },
          "404" : {
            "description" : "the Connector specified is unknown or you don't have access to it"
          }
        }
      }
    },
    "/organizations" : {
      "get" : {
        "tags" : [ "organization" ],
        "summary" : "List all Organizations",
        "operationId" : "findAllOrganizations",
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "page number to query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "size",
          "in" : "query",
          "description" : "amount of result by page",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "the list of Organizations",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Organization"
                  }
                },
                "examples" : {
                  "TwoOrganizations" : {
                    "$ref" : "#/components/examples/TwoOrganizations"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "organization" ],
        "summary" : "Register a new organization",
        "operationId" : "registerOrganization",
        "requestBody" : {
          "description" : "the Organization to register",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Organization"
              },
              "examples" : {
                "NewOrganizationIn" : {
                  "$ref" : "#/components/examples/NewOrganizationIn"
                }
              }
            },
            "application/yaml" : {
              "schema" : {
                "$ref" : "#/components/schemas/Organization"
              },
              "examples" : {
                "NewOrganizationIn" : {
                  "$ref" : "#/components/examples/NewOrganizationIn"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "the Organization details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Organization"
                },
                "examples" : {
                  "CosmoOrganization" : {
                    "$ref" : "#/components/examples/CosmoOrganization"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request"
          }
        }
      }
    },
    "/organizations/permissions" : {
      "get" : {
        "tags" : [ "organization" ],
        "summary" : "Get all permissions per components",
        "operationId" : "getAllPermissions",
        "responses" : {
          "200" : {
            "description" : "The Scenarios security permission list",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ComponentRolePermissions"
                  }
                },
                "examples" : {
                  "permissions" : {
                    "$ref" : "#/components/examples/Permissions"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_id}" : {
      "get" : {
        "tags" : [ "organization" ],
        "summary" : "Get the details of an Organization",
        "operationId" : "findOrganizationById",
        "parameters" : [ {
          "name" : "organization_id",
          "in" : "path",
          "description" : "the Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "the Organization details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Organization"
                },
                "examples" : {
                  "CosmoOrganization" : {
                    "$ref" : "#/components/examples/CosmoOrganization"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "the Organization specified is unknown or you don't have access to it"
          }
        }
      },
      "delete" : {
        "tags" : [ "organization" ],
        "summary" : "Unregister an organization",
        "operationId" : "unregisterOrganization",
        "parameters" : [ {
          "name" : "organization_id",
          "in" : "path",
          "description" : "the Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Request succeeded"
          },
          "404" : {
            "description" : "the Organization specified is unknown or you don't have access to it"
          }
        }
      },
      "patch" : {
        "tags" : [ "organization" ],
        "summary" : "Update an Organization",
        "operationId" : "updateOrganization",
        "parameters" : [ {
          "name" : "organization_id",
          "in" : "path",
          "description" : "the Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The new Organization details. This endpoint can't be used to update :\n  - id\n  - ownerId\n  - security\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Organization"
              },
              "examples" : {
                "ChangeName" : {
                  "summary" : "Change Name of Organization",
                  "description" : "Change the name of Organization 1 to CosmoTech Digital Twins Engine",
                  "value" : {
                    "name" : "CosmoTech Digital Twins Engine"
                  }
                }
              }
            },
            "application/yaml" : {
              "schema" : {
                "$ref" : "#/components/schemas/Organization"
              },
              "examples" : {
                "ChangeName" : {
                  "summary" : "Change Name of Organization",
                  "description" : "Change the name of Organization 1 to CosmoTech Digital Twins Engine",
                  "value" : {
                    "name" : "CosmoTech Digital Twins Engine"
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "the organization details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Organization"
                },
                "examples" : {
                  "CosmoThreeUsers" : {
                    "$ref" : "#/components/examples/CosmoThreeUsers"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request"
          },
          "404" : {
            "description" : "the Organization specified is unknown or you don't have access to it"
          }
        }
      }
    },
    "/organizations/{organization_id}/datasets" : {
      "get" : {
        "tags" : [ "dataset" ],
        "summary" : "List all Datasets",
        "operationId" : "findAllDatasets",
        "parameters" : [ {
          "name" : "organization_id",
          "in" : "path",
          "description" : "the Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "page number to query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "size",
          "in" : "query",
          "description" : "amount of result by page",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "the list of Datasets",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Dataset"
                  }
                },
                "examples" : {
                  "Two" : {
                    "$ref" : "#/components/examples/TwoDatasets"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "dataset" ],
        "summary" : "Create a new Dataset",
        "operationId" : "createDataset",
        "parameters" : [ {
          "name" : "organization_id",
          "in" : "path",
          "description" : "the Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "the Dataset to create",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Dataset"
              },
              "examples" : {
                "BreweryADT" : {
                  "$ref" : "#/components/examples/BreweryADT"
                }
              }
            },
            "application/yaml" : {
              "schema" : {
                "$ref" : "#/components/schemas/Dataset"
              },
              "examples" : {
                "BreweryADT" : {
                  "$ref" : "#/components/examples/BreweryADT"
                },
                "RunJobImportWithADT" : {
                  "$ref" : "#/components/examples/DatasetWithADT"
                },
                "RunJobImportWithStorage" : {
                  "$ref" : "#/components/examples/DatasetWithStorage"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "the dataset details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Dataset"
                },
                "examples" : {
                  "BreweryADT" : {
                    "$ref" : "#/components/examples/BreweryADT"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request"
          }
        }
      }
    },
    "/organizations/{organization_id}/datasets/copy" : {
      "post" : {
        "tags" : [ "dataset" ],
        "summary" : "Copy a Dataset to another Dataset.",
        "description" : "Not implemented!",
        "operationId" : "copyDataset",
        "parameters" : [ {
          "name" : "organization_id",
          "in" : "path",
          "description" : "the Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "the Dataset copy parameters",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DatasetCopyParameters"
              },
              "examples" : {
                "BreweryDatasetCopyParameters" : {
                  "$ref" : "#/components/examples/BreweryDatasetCopyParameters"
                }
              }
            },
            "application/yaml" : {
              "schema" : {
                "$ref" : "#/components/schemas/DatasetCopyParameters"
              },
              "examples" : {
                "BreweryDatasetCopyParameters" : {
                  "$ref" : "#/components/examples/BreweryDatasetCopyParameters"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "the Dataset copy operation parameters",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DatasetCopyParameters"
                },
                "examples" : {
                  "BreweryADT" : {
                    "$ref" : "#/components/examples/BreweryDatasetCopyParameters"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request"
          },
          "404" : {
            "description" : "the Dataset specified as Source or Target is unknown or you don't have access to it"
          }
        }
      }
    },
    "/organizations/{organization_id}/datasets/search" : {
      "post" : {
        "tags" : [ "dataset" ],
        "summary" : "Search Datasets by tags",
        "operationId" : "searchDatasets",
        "parameters" : [ {
          "name" : "organization_id",
          "in" : "path",
          "description" : "the Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "page number to query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "size",
          "in" : "query",
          "description" : "amount of result by page",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "requestBody" : {
          "description" : "the Dataset search parameters",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DatasetSearch"
              },
              "examples" : {
                "DatasetSearch" : {
                  "$ref" : "#/components/examples/DatasetSearch"
                }
              }
            },
            "application/yaml" : {
              "schema" : {
                "$ref" : "#/components/schemas/DatasetSearch"
              },
              "examples" : {
                "DatasetSearch" : {
                  "$ref" : "#/components/examples/DatasetSearch"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "the list of Datasets",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Dataset"
                  }
                },
                "examples" : {
                  "Two" : {
                    "$ref" : "#/components/examples/TwoDatasets"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_id}/datasets/twingraph/download/{hash}" : {
      "get" : {
        "tags" : [ "dataset" ],
        "summary" : "Download a graph as a zip file",
        "description" : "Download the compressed graph reference by the hash in a zip file\nNote: This endpoint is activated only if `csm.platform.twincache.useGraphModule` property is set to true\n",
        "operationId" : "downloadTwingraph",
        "parameters" : [ {
          "name" : "organization_id",
          "in" : "path",
          "description" : "the Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "hash",
          "in" : "path",
          "description" : "the Graph download identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "content" : {
              "application/octet-stream" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_id}/datasets/{dataset_id}" : {
      "get" : {
        "tags" : [ "dataset" ],
        "summary" : "Get the details of a Dataset",
        "operationId" : "findDatasetById",
        "parameters" : [ {
          "name" : "organization_id",
          "in" : "path",
          "description" : "the Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "dataset_id",
          "in" : "path",
          "description" : "the Dataset identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "the Dataset details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Dataset"
                },
                "examples" : {
                  "BreweryADT" : {
                    "$ref" : "#/components/examples/BreweryADT"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "the Dataset specified is unknown or you don't have access to it"
          }
        }
      },
      "post" : {
        "tags" : [ "dataset" ],
        "summary" : "Upload data from zip file to dataset's twingraph",
        "description" : "To create a new graph from flat files,  you need to create a Zip file. This Zip\nfile must countain two folders named Edges and Nodes.\n\n.zip hierarchy:\n*main_folder/Nodes\n*main_folder/Edges\n\nIn each folder you can place one or multiple csv files containing your Nodes or\nEdges data.\n\nYour csv files must follow the following header (column name) requirements:\n\nThe Nodes CSVs requires at least one column (the 1st).Column name = 'id'. It\nwill represent the nodes ID\nIds must be populated with string\n\nThe Edges CSVs require three columns named, in order,\n* source\n* target\n* id\n\nthose colomns represent\n* The source of the edge\n* The target of the edge\n* The id of the edge\n\nAll following columns content are up to you.\nNote: This endpoint is activated only if `csm.platform.twincache.useGraphModule` property is set to true\n",
        "operationId" : "uploadTwingraph",
        "parameters" : [ {
          "name" : "organization_id",
          "in" : "path",
          "description" : "the Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "dataset_id",
          "in" : "path",
          "description" : "the Dataset identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/octet-stream" : {
              "schema" : {
                "type" : "string",
                "format" : "binary"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "202" : {
            "description" : "File uploaded successfully. Processing...",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FileUploadValidation"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "dataset" ],
        "summary" : "Delete a dataset",
        "operationId" : "deleteDataset",
        "parameters" : [ {
          "name" : "organization_id",
          "in" : "path",
          "description" : "the Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "dataset_id",
          "in" : "path",
          "description" : "the Dataset identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Request successful"
          },
          "404" : {
            "description" : "the Dataset specified is unknown or you don't have access to it"
          }
        }
      },
      "patch" : {
        "tags" : [ "dataset" ],
        "summary" : "Update a dataset",
        "operationId" : "updateDataset",
        "parameters" : [ {
          "name" : "organization_id",
          "in" : "path",
          "description" : "the Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "dataset_id",
          "in" : "path",
          "description" : "the Dataset identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The new Dataset details.\nThis endpoint can't be used to update :\n  - id\n  - security\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Dataset"
              },
              "examples" : {
                "BreweryADTUpdate" : {
                  "$ref" : "#/components/examples/BreweryADTUpdate"
                }
              }
            },
            "application/yaml" : {
              "schema" : {
                "$ref" : "#/components/schemas/Dataset"
              },
              "examples" : {
                "BreweryADTUpdate" : {
                  "$ref" : "#/components/examples/BreweryADTUpdate"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "the dataset details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Dataset"
                },
                "examples" : {
                  "BreweryADTUpdated" : {
                    "$ref" : "#/components/examples/BreweryADTUpdated"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request"
          },
          "404" : {
            "description" : "the Dataset specified is unknown or you don't have access to it"
          }
        }
      }
    },
    "/organizations/{organization_id}/datasets/{dataset_id}/batch" : {
      "post" : {
        "tags" : [ "dataset" ],
        "summary" : "Async batch update by loading a CSV file on a graph instance",
        "description" : "Async batch update by loading a CSV file on a graph instance \nNote: This endpoint is activated only if `csm.platform.twincache.useGraphModule` property is set to true\n",
        "operationId" : "twingraphBatchUpdate",
        "parameters" : [ {
          "name" : "organization_id",
          "in" : "path",
          "description" : "the Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "dataset_id",
          "in" : "path",
          "description" : "the Dataset Identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "twinGraphQuery",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "$ref" : "#/components/schemas/DatasetTwinGraphQuery"
          },
          "examples" : {
            "Create Nodes" : {
              "description" : "Nodes creation and column mapping with CSV Header: $id, $name, $rank\nCSV Separator: ,\n",
              "value" : {
                "query" : "CREATE (:Person {id: toInteger($id), name: $name, rank: toInteger($rank)})"
              }
            },
            "Update Nodes" : {
              "description" : "Nodes updating and column mapping with CSV Header: $id, $rank\nCSV Separator: ,\n",
              "value" : {
                "query" : "MATCH (p:Person {id: toInteger($id)}) SET p.rank = $rank"
              }
            },
            "Create Relationships" : {
              "description" : "Relationship creation and column mapping with CSV Header: $id, $rank\nCSV Separator: ,\n",
              "value" : {
                "query" : "MERGE (p1:Person {id: toInteger($UserId1)})\nMERGE (p2:Person {id: toInteger($UserId2)})\nCREATE (p1)-[:FOLLOWS {reaction_count: $reaction_count}]->(p2)\n"
              }
            },
            "Delete Nodes" : {
              "description" : "Nodes deleting and column mapping with CSV Header: $id\nCSV Separator: ,\n",
              "value" : {
                "query" : "MATCH (p:Person {id: toInteger($id)}) DELETE p"
              }
            }
          }
        } ],
        "requestBody" : {
          "content" : {
            "text/csv" : {
              "schema" : {
                "type" : "string",
                "format" : "binary"
              },
              "examples" : {
                "Create / Update / Delete Nodes" : {
                  "value" : "id,name,rank\n1,\"John Doe\",37\n2,\"Joe Bloggs\",14\n"
                },
                "Create / Update Relationships" : {
                  "value" : "UserId1,UserId2,reaction_count\n1,2,25\n2,1,37\n"
                }
              }
            },
            "application/octet-stream" : {
              "schema" : {
                "type" : "string",
                "format" : "binary"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "csv file processed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TwinGraphBatchResult"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request"
          }
        }
      }
    },
    "/organizations/{organization_id}/datasets/{dataset_id}/batch-query" : {
      "post" : {
        "tags" : [ "dataset" ],
        "summary" : "Run a query on a graph instance and return the result as a zip file in async mode",
        "description" : "Run a query on a graph instance and return the result as a zip file in async mode\nNote: This endpoint is activated only if `csm.platform.twincache.useGraphModule` property is set to true\n",
        "operationId" : "twingraphBatchQuery",
        "parameters" : [ {
          "name" : "organization_id",
          "in" : "path",
          "description" : "the Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "dataset_id",
          "in" : "path",
          "description" : "the Graph Identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "the query to run",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DatasetTwinGraphQuery"
              },
              "examples" : {
                "GetAllNodes" : {
                  "$ref" : "#/components/examples/GetAllNodes"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DatasetTwinGraphHash"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_id}/datasets/{dataset_id}/compatibility" : {
      "post" : {
        "tags" : [ "dataset" ],
        "summary" : "Add Dataset Compatibility elements.",
        "operationId" : "addOrReplaceDatasetCompatibilityElements",
        "parameters" : [ {
          "name" : "organization_id",
          "in" : "path",
          "description" : "the Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "dataset_id",
          "in" : "path",
          "description" : "the Dataset identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "the Dataset Compatibility elements",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "example" : {
                  "TwoDatasetCompatibility" : {
                    "summary" : "2 Dataset Compatibilities",
                    "description" : "2 Dataset Compatibilities",
                    "value" : [ {
                      "solutionKey" : "Brewery Solution",
                      "minimumVersion" : "1.0.0"
                    }, {
                      "solutionKey" : "Brewery Solution",
                      "minimumVersion" : "1.0.1"
                    } ]
                  }
                },
                "items" : {
                  "$ref" : "#/components/schemas/DatasetCompatibility"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "the Dataset Compatibility elements",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/DatasetCompatibility"
                  }
                },
                "examples" : {
                  "TwoDatasetCompatibility" : {
                    "summary" : "2 Dataset Compatibilities",
                    "description" : "2 Dataset Compatibilities",
                    "value" : [ {
                      "solutionKey" : "Brewery Solution",
                      "minimumVersion" : "1.0.0"
                    }, {
                      "solutionKey" : "Brewery Solution",
                      "minimumVersion" : "1.0.1"
                    } ]
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request"
          },
          "404" : {
            "description" : "the Dataset specified is unknown or you don't have access to it"
          }
        }
      },
      "delete" : {
        "tags" : [ "dataset" ],
        "summary" : "Remove all Dataset Compatibility elements from the Dataset specified",
        "operationId" : "removeAllDatasetCompatibilityElements",
        "parameters" : [ {
          "name" : "organization_id",
          "in" : "path",
          "description" : "the Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "dataset_id",
          "in" : "path",
          "description" : "the Dataset identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "the operation succeeded"
          },
          "404" : {
            "description" : "the Dataset specified is unknown or you don't have access to it"
          }
        }
      }
    },
    "/organizations/{organization_id}/datasets/{dataset_id}/link" : {
      "post" : {
        "tags" : [ "dataset" ],
        "operationId" : "linkWorkspace",
        "parameters" : [ {
          "name" : "organization_id",
          "in" : "path",
          "description" : "the Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "dataset_id",
          "in" : "path",
          "description" : "the Dataset identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "workspaceId",
          "in" : "query",
          "description" : "workspace id to be linked to",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "the dataset details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Dataset"
                },
                "examples" : {
                  "BreweryADTUpdated" : {
                    "$ref" : "#/components/examples/BreweryADTWithLink"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request"
          },
          "404" : {
            "description" : "the Dataset specified is unknown or you don't have access to it"
          }
        }
      }
    },
    "/organizations/{organization_id}/datasets/{dataset_id}/refresh" : {
      "post" : {
        "tags" : [ "dataset" ],
        "summary" : "Refresh data on dataset from dataset's source",
        "description" : "Refresh dataset from parent source. At date, sources can be:\n\n    dataset (refresh from another dataset)\n\n    Azure Digital twin \n\n    Azure storage\n\n    Local File (import a new file)\n\nDuring refresh, datas are overwritten\nNote: This endpoint is activated only if `csm.platform.twincache.useGraphModule` property is set to true\n",
        "operationId" : "refreshDataset",
        "parameters" : [ {
          "name" : "organization_id",
          "in" : "path",
          "description" : "the Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "dataset_id",
          "in" : "path",
          "description" : "the Dataset identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DatasetTwinGraphInfo"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_id}/datasets/{dataset_id}/refresh/rollback" : {
      "post" : {
        "tags" : [ "dataset" ],
        "summary" : "Rollback the dataset after a failed refresh",
        "description" : "Rollback the twingraph on a dataset after a failed refresh\nNote: This endpoint is activated only if `csm.platform.twincache.useGraphModule` property is set to true\n",
        "operationId" : "rollbackRefresh",
        "parameters" : [ {
          "name" : "organization_id",
          "in" : "path",
          "description" : "the Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "dataset_id",
          "in" : "path",
          "description" : "the Dataset identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                },
                "examples" : {
                  "SuccessfulResponse" : {
                    "$ref" : "#/components/examples/SuccessfulRollback"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_id}/datasets/{dataset_id}/security" : {
      "get" : {
        "tags" : [ "dataset" ],
        "summary" : "Get the Dataset security information",
        "operationId" : "getDatasetSecurity",
        "parameters" : [ {
          "name" : "organization_id",
          "in" : "path",
          "description" : "the Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "dataset_id",
          "in" : "path",
          "description" : "the Dataset identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The Dataset security",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DatasetSecurity"
                }
              }
            }
          },
          "404" : {
            "description" : "the Dataset specified is unknown or you don't have access to it"
          }
        }
      }
    },
    "/organizations/{organization_id}/datasets/{dataset_id}/security/access" : {
      "post" : {
        "tags" : [ "dataset" ],
        "summary" : "Add a control access to the Dataset",
        "operationId" : "addDatasetAccessControl",
        "parameters" : [ {
          "name" : "organization_id",
          "in" : "path",
          "description" : "the Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "dataset_id",
          "in" : "path",
          "description" : "the Dataset identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "the new Dataset security access to add.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DatasetAccessControl"
              },
              "examples" : {
                "DatasetAccess" : {
                  "$ref" : "#/components/examples/BreweryDatasetAccessControl"
                }
              }
            },
            "application/yaml" : {
              "schema" : {
                "$ref" : "#/components/schemas/DatasetAccessControl"
              },
              "examples" : {
                "DatasetAccess" : {
                  "$ref" : "#/components/examples/BreweryDatasetAccessControl"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "The Dataset access",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DatasetAccessControl"
                },
                "examples" : {
                  "DatasetAccessControl" : {
                    "$ref" : "#/components/examples/BreweryDatasetAccessControl"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "the Dataset specified is unknown or you don't have access to it"
          }
        }
      }
    },
    "/organizations/{organization_id}/datasets/{dataset_id}/security/access/{identity_id}" : {
      "get" : {
        "tags" : [ "dataset" ],
        "summary" : "Get a control access for the Dataset",
        "operationId" : "getDatasetAccessControl",
        "parameters" : [ {
          "name" : "organization_id",
          "in" : "path",
          "description" : "the Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "dataset_id",
          "in" : "path",
          "description" : "the Dataset identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "identity_id",
          "in" : "path",
          "description" : "the User identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The Dataset access",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DatasetAccessControl"
                },
                "examples" : {
                  "DatasetAccessControl" : {
                    "$ref" : "#/components/examples/BreweryDatasetAccessControl"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "The Dataset or user specified is unknown or you don't have access to it"
          }
        }
      },
      "delete" : {
        "tags" : [ "dataset" ],
        "summary" : "Remove the specified access from the given Dataset",
        "operationId" : "removeDatasetAccessControl",
        "parameters" : [ {
          "name" : "organization_id",
          "in" : "path",
          "description" : "the Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "dataset_id",
          "in" : "path",
          "description" : "the Dataset identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "identity_id",
          "in" : "path",
          "description" : "the User identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Request succeeded"
          },
          "404" : {
            "description" : "The Dataset or the user specified is unknown or you don't have access to them"
          }
        }
      },
      "patch" : {
        "tags" : [ "dataset" ],
        "summary" : "Update the specified access to User for a Dataset",
        "operationId" : "updateDatasetAccessControl",
        "parameters" : [ {
          "name" : "organization_id",
          "in" : "path",
          "description" : "the Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "dataset_id",
          "in" : "path",
          "description" : "the Dataset identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "identity_id",
          "in" : "path",
          "description" : "the User identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The new Dataset Access Control",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DatasetRole"
              },
              "examples" : {
                "BreweryDatasetRole" : {
                  "$ref" : "#/components/examples/BreweryDatasetRole"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "The Dataset access",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DatasetAccessControl"
                },
                "examples" : {
                  "DatasetAccessControl" : {
                    "$ref" : "#/components/examples/BreweryDatasetAccessControl"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "The Dataset specified is unknown or you don't have access to it"
          }
        }
      }
    },
    "/organizations/{organization_id}/datasets/{dataset_id}/security/default" : {
      "post" : {
        "tags" : [ "dataset" ],
        "summary" : "Set the Dataset default security",
        "operationId" : "setDatasetDefaultSecurity",
        "parameters" : [ {
          "name" : "organization_id",
          "in" : "path",
          "description" : "the Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "dataset_id",
          "in" : "path",
          "description" : "the Dataset identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "This change the dataset default security. The default security is the role assigned to any person not on the Access Control List. If the default security is None, then nobody outside of the ACL can access the dataset.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DatasetRole"
              },
              "examples" : {
                "BreweryDatasetRole" : {
                  "$ref" : "#/components/examples/BreweryDatasetRole"
                }
              }
            },
            "application/yaml" : {
              "schema" : {
                "$ref" : "#/components/schemas/DatasetRole"
              },
              "examples" : {
                "BreweryDatasetRole" : {
                  "$ref" : "#/components/examples/BreweryDatasetRole"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "The Dataset default visibility",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DatasetSecurity"
                }
              }
            }
          },
          "404" : {
            "description" : "the Dataset specified is unknown or you don't have access to it"
          }
        }
      }
    },
    "/organizations/{organization_id}/datasets/{dataset_id}/security/users" : {
      "get" : {
        "tags" : [ "dataset" ],
        "summary" : "Get the Dataset security users list",
        "operationId" : "getDatasetSecurityUsers",
        "parameters" : [ {
          "name" : "organization_id",
          "in" : "path",
          "description" : "the Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "dataset_id",
          "in" : "path",
          "description" : "the Dataset identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The Dataset security users list",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "example" : [ "alice@mycompany.com", "bob@mycompany.com" ],
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "the Dataset or the User specified is unknown or you don't have access to them"
          }
        }
      }
    },
    "/organizations/{organization_id}/datasets/{dataset_id}/status" : {
      "get" : {
        "tags" : [ "dataset" ],
        "summary" : "Get the dataset's refresh job status",
        "description" : "Get the status of the import workflow lauch on the dataset's refresh. This endpoint needs to be called to update a dataset IngestionStatus or TwincacheStatus",
        "operationId" : "getDatasetTwingraphStatus",
        "parameters" : [ {
          "name" : "organization_id",
          "in" : "path",
          "description" : "the Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "dataset_id",
          "in" : "path",
          "description" : "the dataset identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "content" : {
              "application/yaml" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "application/json" : {
                "schema" : {
                  "type" : "string",
                  "enum" : [ "PENDING", "COMPLETED" ]
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_id}/datasets/{dataset_id}/subdataset" : {
      "post" : {
        "tags" : [ "dataset" ],
        "summary" : "Create a sub-dataset from the dataset in parameter",
        "description" : "Create a copy of the dataset using the results of the list of queries given in parameter.\nNote: This endpoint is activated only if `csm.platform.twincache.useGraphModule` property is set to true\n",
        "operationId" : "createSubDataset",
        "parameters" : [ {
          "name" : "organization_id",
          "in" : "path",
          "description" : "the Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "dataset_id",
          "in" : "path",
          "description" : "the Dataset identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "the Cypher query to filter",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SubDatasetGraphQuery"
              },
              "examples" : {
                "BreweryADT" : {
                  "$ref" : "#/components/examples/BreweryADT"
                }
              }
            },
            "application/yaml" : {
              "schema" : {
                "$ref" : "#/components/schemas/SubDatasetGraphQuery"
              },
              "examples" : {
                "BreweryADT" : {
                  "$ref" : "#/components/examples/BreweryADT"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Dataset"
                },
                "examples" : {
                  "BreweryADT" : {
                    "$ref" : "#/components/examples/BreweryADT"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_id}/datasets/{dataset_id}/twingraph" : {
      "post" : {
        "tags" : [ "dataset" ],
        "summary" : "Return the result of a query made on the graph instance as a json",
        "description" : "Run a query on a graph instance and return the result as a json\nNote: This endpoint is activated only if `csm.platform.twincache.useGraphModule` property is set to true\n",
        "operationId" : "twingraphQuery",
        "parameters" : [ {
          "name" : "organization_id",
          "in" : "path",
          "description" : "the Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "dataset_id",
          "in" : "path",
          "description" : "the Dataset identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "the query to run",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DatasetTwinGraphQuery"
              },
              "examples" : {
                "GetAllNodes" : {
                  "$ref" : "#/components/examples/TwinGraphGetAllNodes"
                }
              }
            },
            "application/yaml" : {
              "schema" : {
                "$ref" : "#/components/schemas/DatasetTwinGraphQuery"
              },
              "examples" : {
                "GetAllNodes" : {
                  "$ref" : "#/components/examples/TwinGraphGetAllNodes"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_id}/datasets/{dataset_id}/twingraph/{type}" : {
      "get" : {
        "tags" : [ "dataset" ],
        "summary" : "Get entities in a graph instance",
        "description" : "Get entities in a graph instance\nNote: This endpoint is activated only if `csm.platform.twincache.useGraphModule` property is set to true\n",
        "operationId" : "getTwingraphEntities",
        "parameters" : [ {
          "name" : "organization_id",
          "in" : "path",
          "description" : "the Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "dataset_id",
          "in" : "path",
          "description" : "the Dataset Identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "type",
          "in" : "path",
          "description" : "the entity model type",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "node", "relationship" ]
          }
        }, {
          "name" : "ids",
          "in" : "query",
          "description" : "the entities to get",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "dataset" ],
        "summary" : "Create new entities in a graph instance",
        "description" : "Create new entities in a graph instance\nNote: This endpoint is activated only if `csm.platform.twincache.useGraphModule` property is set to true\n",
        "operationId" : "createTwingraphEntities",
        "parameters" : [ {
          "name" : "organization_id",
          "in" : "path",
          "description" : "the Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "dataset_id",
          "in" : "path",
          "description" : "the Dataset Identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "type",
          "in" : "path",
          "description" : "the entity model type",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "node", "relationship" ]
          }
        } ],
        "requestBody" : {
          "description" : "the entities to create",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/GraphProperties"
                }
              },
              "examples" : {
                "QueryEntities" : {
                  "$ref" : "#/components/examples/QueryEntities"
                }
              }
            },
            "application/yaml" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/GraphProperties"
                }
              },
              "examples" : {
                "QueryEntities" : {
                  "$ref" : "#/components/examples/QueryEntities"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "dataset" ],
        "summary" : "Delete entities in a graph instance",
        "description" : "Delete entities in a graph instance\nNote: This endpoint is activated only if `csm.platform.twincache.useGraphModule` property is set to true\n",
        "operationId" : "deleteTwingraphEntities",
        "parameters" : [ {
          "name" : "organization_id",
          "in" : "path",
          "description" : "the Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "dataset_id",
          "in" : "path",
          "description" : "the Dataset Identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "type",
          "in" : "path",
          "description" : "the entity model type",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "node", "relationship" ]
          }
        }, {
          "name" : "ids",
          "in" : "query",
          "description" : "the entities to delete",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Successful response"
          }
        }
      },
      "patch" : {
        "tags" : [ "dataset" ],
        "summary" : "Update entities in a graph instance",
        "description" : "update entities in a graph instance",
        "operationId" : "updateTwingraphEntities",
        "parameters" : [ {
          "name" : "organization_id",
          "in" : "path",
          "description" : "the Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "dataset_id",
          "in" : "path",
          "description" : "the Dataset Identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "type",
          "in" : "path",
          "description" : "the entity model type",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "node", "relationship" ]
          }
        } ],
        "requestBody" : {
          "description" : "The entities to update\nNote: This endpoint is activated only if `csm.platform.twincache.useGraphModule` property is set to true\n",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/GraphProperties"
                }
              },
              "examples" : {
                "QueryEntities" : {
                  "$ref" : "#/components/examples/QueryEntities"
                }
              }
            },
            "application/yaml" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/GraphProperties"
                }
              },
              "examples" : {
                "QueryEntities" : {
                  "$ref" : "#/components/examples/QueryEntities"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_id}/datasets/{dataset_id}/unlink" : {
      "post" : {
        "tags" : [ "dataset" ],
        "operationId" : "unlinkWorkspace",
        "parameters" : [ {
          "name" : "organization_id",
          "in" : "path",
          "description" : "the Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "dataset_id",
          "in" : "path",
          "description" : "the Dataset identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "workspaceId",
          "in" : "query",
          "description" : "workspace id to be linked to",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "the dataset details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Dataset"
                },
                "examples" : {
                  "BreweryADT" : {
                    "$ref" : "#/components/examples/BreweryADT"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request"
          },
          "404" : {
            "description" : "the Dataset specified is unknown or you don't have access to it"
          }
        }
      }
    },
    "/organizations/{organization_id}/job/{job_id}/status" : {
      "get" : {
        "tags" : [ "twingraph" ],
        "summary" : "Get the status of a job",
        "description" : "Get the status of a job",
        "operationId" : "jobStatus",
        "parameters" : [ {
          "name" : "organization_id",
          "in" : "path",
          "description" : "the Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "job_id",
          "in" : "path",
          "description" : "the job identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "content" : {
              "application/yaml" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/organizations/{organization_id}/permissions/{role}" : {
      "get" : {
        "tags" : [ "organization" ],
        "summary" : "Get the Organization permissions by given role",
        "operationId" : "getOrganizationPermissions",
        "parameters" : [ {
          "name" : "organization_id",
          "in" : "path",
          "description" : "the Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "role",
          "in" : "path",
          "description" : "the Role",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The Organization security permission list",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "example" : [ "read", "read_security", "create_children" ],
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_id}/scenarioruns/historicaldata" : {
      "delete" : {
        "tags" : [ "scenariorun" ],
        "summary" : "Delete all historical ScenarioRuns in the Organization",
        "operationId" : "deleteHistoricalDataOrganization",
        "parameters" : [ {
          "name" : "organization_id",
          "in" : "path",
          "description" : "the Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "deleteUnknown",
          "in" : "query",
          "description" : "condition to delete runs with an Unknown status",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Request succeeded"
          },
          "400" : {
            "description" : "Bad request"
          },
          "404" : {
            "description" : "the Organization specified is unknown or you don't have access to it"
          }
        },
        "deprecated" : true
      }
    },
    "/organizations/{organization_id}/scenarioruns/search" : {
      "post" : {
        "tags" : [ "scenariorun" ],
        "summary" : "Search ScenarioRuns",
        "operationId" : "searchScenarioRuns",
        "parameters" : [ {
          "name" : "organization_id",
          "in" : "path",
          "description" : "the Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "page number to query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "size",
          "in" : "query",
          "description" : "amount of result by page",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "requestBody" : {
          "description" : "the ScenarioRun search parameters",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ScenarioRunSearch"
              },
              "examples" : {
                "BrewerySearch" : {
                  "$ref" : "#/components/examples/BrewerySearch"
                }
              }
            },
            "application/yaml" : {
              "schema" : {
                "type" : "string",
                "format" : "binary"
              },
              "examples" : {
                "BrewerySearch" : {
                  "$ref" : "#/components/examples/BrewerySearch"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "the scenariorun details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ScenarioRun"
                  }
                },
                "examples" : {
                  "OneScenarioRun" : {
                    "$ref" : "#/components/examples/OneScenarioRun"
                  }
                }
              }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/organizations/{organization_id}/scenarioruns/startcontainers" : {
      "post" : {
        "tags" : [ "scenariorun" ],
        "summary" : "Start a new scenariorun with raw containers definition",
        "operationId" : "startScenarioRunContainers",
        "parameters" : [ {
          "name" : "organization_id",
          "in" : "path",
          "description" : "the Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "the raw containers definition",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ScenarioRunStartContainers"
              },
              "examples" : {
                "ScenarioRunStartContainers" : {
                  "$ref" : "#/components/examples/BreweryScenarioRunStartContainers"
                }
              }
            },
            "application/yaml" : {
              "schema" : {
                "type" : "string",
                "format" : "binary"
              },
              "examples" : {
                "ScenarioRunStartContainers" : {
                  "$ref" : "#/components/examples/BreweryScenarioRunStartContainers"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "202" : {
            "description" : "the scenariorun details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ScenarioRun"
                },
                "examples" : {
                  "ScenarioRun" : {
                    "$ref" : "#/components/examples/BreweryScenarioRunContainer"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request"
          },
          "404" : {
            "description" : "the Scenario specified is unknown or you don't have access to it"
          }
        },
        "deprecated" : true
      }
    },
    "/organizations/{organization_id}/scenarioruns/{scenariorun_id}" : {
      "get" : {
        "tags" : [ "scenariorun" ],
        "summary" : "Get the details of a scenariorun",
        "operationId" : "findScenarioRunById",
        "parameters" : [ {
          "name" : "organization_id",
          "in" : "path",
          "description" : "the Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "scenariorun_id",
          "in" : "path",
          "description" : "the ScenarioRun identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "the ScenarioRun details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ScenarioRun"
                },
                "examples" : {
                  "ScenarioRun" : {
                    "$ref" : "#/components/examples/BreweryScenarioRun"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "the ScenarioRun specified is unknown or you don't have access to it"
          }
        },
        "deprecated" : true
      },
      "delete" : {
        "tags" : [ "scenariorun" ],
        "summary" : "Delete a scenariorun",
        "operationId" : "deleteScenarioRun",
        "parameters" : [ {
          "name" : "organization_id",
          "in" : "path",
          "description" : "the Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "scenariorun_id",
          "in" : "path",
          "description" : "the ScenarioRun identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Request succeeded"
          },
          "400" : {
            "description" : "Bad request"
          },
          "404" : {
            "description" : "the ScenarioRun specified is unknown or you don't have access to it"
          }
        },
        "deprecated" : true
      }
    },
    "/organizations/{organization_id}/scenarioruns/{scenariorun_id}/cumulatedlogs" : {
      "get" : {
        "tags" : [ "scenariorun" ],
        "summary" : "Get the cumulated logs of a scenariorun",
        "operationId" : "getScenarioRunCumulatedLogs",
        "parameters" : [ {
          "name" : "organization_id",
          "in" : "path",
          "description" : "the Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "scenariorun_id",
          "in" : "path",
          "description" : "the ScenarioRun identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "the ScenarioRun cumulated logs",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request"
          },
          "404" : {
            "description" : "the ScenarioRun specified is unknown or you don't have access to it"
          }
        },
        "deprecated" : true
      }
    },
    "/organizations/{organization_id}/scenarioruns/{scenariorun_id}/logs" : {
      "get" : {
        "tags" : [ "scenariorun" ],
        "summary" : "get the logs for the ScenarioRun",
        "operationId" : "getScenarioRunLogs",
        "parameters" : [ {
          "name" : "organization_id",
          "in" : "path",
          "description" : "the Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "scenariorun_id",
          "in" : "path",
          "description" : "the ScenarioRun identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "the scenariorun logs details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ScenarioRunLogs"
                },
                "examples" : {
                  "ScenarioRun" : {
                    "$ref" : "#/components/examples/BreweryScenarioRunLogs"
                  }
                }
              }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/organizations/{organization_id}/scenarioruns/{scenariorun_id}/status" : {
      "get" : {
        "tags" : [ "scenariorun" ],
        "summary" : "get the status for the ScenarioRun",
        "operationId" : "getScenarioRunStatus",
        "parameters" : [ {
          "name" : "organization_id",
          "in" : "path",
          "description" : "the Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "scenariorun_id",
          "in" : "path",
          "description" : "the ScenarioRun identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "the scenariorun status details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ScenarioRunStatus"
                },
                "examples" : {
                  "ScenarioRun" : {
                    "$ref" : "#/components/examples/BreweryScenarioRunStatus"
                  }
                }
              }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/organizations/{organization_id}/scenarioruns/{scenariorun_id}/stop" : {
      "post" : {
        "tags" : [ "scenariorun" ],
        "summary" : "stop a ScenarioRun for the Scenario",
        "operationId" : "stopScenarioRun",
        "parameters" : [ {
          "name" : "organization_id",
          "in" : "path",
          "description" : "the Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "scenariorun_id",
          "in" : "path",
          "description" : "the scenariorun identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "the scenariorun status details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ScenarioRunStatus"
                },
                "examples" : {
                  "ScenarioRun" : {
                    "$ref" : "#/components/examples/BreweryScenarioRunStatus"
                  }
                }
              }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/organizations/{organization_id}/security" : {
      "get" : {
        "tags" : [ "organization" ],
        "summary" : "Get the Organization security information",
        "operationId" : "getOrganizationSecurity",
        "parameters" : [ {
          "name" : "organization_id",
          "in" : "path",
          "description" : "the Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The Organization security",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrganizationSecurity"
                },
                "examples" : {
                  "OrganizationSecurity" : {
                    "$ref" : "#/components/examples/BreweryOrganizationSecurity"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "the Organization specified is unknown or you don't have access to it"
          }
        }
      }
    },
    "/organizations/{organization_id}/security/access" : {
      "post" : {
        "tags" : [ "organization" ],
        "summary" : "Add a control access to the Organization",
        "operationId" : "addOrganizationAccessControl",
        "parameters" : [ {
          "name" : "organization_id",
          "in" : "path",
          "description" : "the Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "the new Organization security access to add.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OrganizationAccessControl"
              },
              "examples" : {
                "OrganizationAccess" : {
                  "$ref" : "#/components/examples/BreweryOrganizationAccessControl"
                }
              }
            },
            "application/yaml" : {
              "schema" : {
                "$ref" : "#/components/schemas/OrganizationAccessControl"
              },
              "examples" : {
                "OrganizationAccess" : {
                  "$ref" : "#/components/examples/BreweryOrganizationAccessControl"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "The Organization access",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrganizationAccessControl"
                },
                "examples" : {
                  "OrganizationAccessControl" : {
                    "$ref" : "#/components/examples/BreweryOrganizationAccessControl"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "the Organization specified is unknown or you don't have access to it"
          }
        }
      }
    },
    "/organizations/{organization_id}/security/access/{identity_id}" : {
      "get" : {
        "tags" : [ "organization" ],
        "summary" : "Get a control access for the Organization",
        "operationId" : "getOrganizationAccessControl",
        "parameters" : [ {
          "name" : "organization_id",
          "in" : "path",
          "description" : "the Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "identity_id",
          "in" : "path",
          "description" : "the User identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The Organization access",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrganizationAccessControl"
                },
                "examples" : {
                  "OrganizationAccessControl" : {
                    "$ref" : "#/components/examples/BreweryOrganizationAccessControl"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "The Organization or user specified is unknown or you don't have access to it"
          }
        }
      },
      "delete" : {
        "tags" : [ "organization" ],
        "summary" : "Remove the specified access from the given Organization",
        "operationId" : "removeOrganizationAccessControl",
        "parameters" : [ {
          "name" : "organization_id",
          "in" : "path",
          "description" : "the Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "identity_id",
          "in" : "path",
          "description" : "the User identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Request succeeded"
          },
          "404" : {
            "description" : "the Organization or the user specified is unknown or you don't have access to them"
          }
        }
      },
      "patch" : {
        "tags" : [ "organization" ],
        "summary" : "Update the specified access to User for an Organization",
        "operationId" : "updateOrganizationAccessControl",
        "parameters" : [ {
          "name" : "organization_id",
          "in" : "path",
          "description" : "the Organization identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "identity_id",
          "in" : "path",
          "description" : "the User identifier",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The new Organization Access Control",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OrganizationRole"
              },
              "examples" : {
                "BreweryOrganizationRole" : {
                  "$ref" : "#/components/examples/BreweryOrganizationRole"
                }
              }
            },
            "application/yaml" : {
              "schema" : {
                "$ref" : "#/components/schemas/OrganizationRole"
              },
              "examples" : {
                "BreweryOrganizationRole" : {
                  "$ref" : "#/components/examples/BreweryOrganizationRole"
                }
              }
            }
          },
          "required" : true
        },
[...]
