# SPDX-FileCopyrightText: Copyright (C) 2024-2025 Cosmo Tech
# SPDX-License-Identifier: LicenseRef-CosmoTech
name: Lint

on:
  pull_request:
    branches:
      - '**'
  push:
    branches:
      - '**'
jobs:
  eslint:
    if:  ${{ ! startsWith(github.head_ref, 'dependabot/') }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout git repository
        uses: actions/checkout@v4
      - name: Enable Corepack
        run: corepack enable
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'yarn'
      - name: Run eslint
        run: yarn install && yarn eslint .
      - name: Run reuse lint
        run: pip install reuse && reuse lint